body {
  font-family: 'Open Sans', sans-serif;
  
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.header, .footer, .introduction {
  background-color: #1F2937;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
}

.introduction {
  color: rgb(233, 233, 233);
  display: flex;
}

.links {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: rgb(233, 233, 233);
}

.main-photo img {
  width: 500px;  
  height: auto;
  border-radius: 30%;
  padding: 20px;
}